.submitbtn{
    margin-left: 38%;   
}
.input-submit-ctn{
background-color: #04204e !important;
}
@media (max-width:773px){
    .inputs-form-contacto {
        padding-left: 13%;
        padding-right: 15%;
    }
}